$BCK_COLOR : grey;
$BCK_RECT  : black;
$GAME_COLOR: white;

.board{
    width: 100vw;
    height: 100vh;
    background-color: $BCK_COLOR;
    display: flex;

    .rect{
        width: calc(100% - 30px);
        height: calc(100% - 100px);
        margin-left: 15px;
        margin-top: 15px;
        background-color: $BCK_RECT;

        .gameArea{
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            margin-left: 5px;
            margin-top: 5px;
            background-color: $GAME_COLOR;
            display: flex;
            flex-direction: column;

            .ballArea{
                width: 100%;
                height: 90%;
                background-color: yellow;   
            }
            .bouncerArea{
                width: 100%;
                height: 10%;
                background-color: green;    
            }
        }

    }
}

